@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-75BD.TTF);
  font-family: helve-bold;
}

@font-face {
  src: url(../fonts/HELVETICANEUELTGEOW82-55RM.TTF);
  font-family: helve-regular;
}
a {
  text-decoration: none;
}
.container-size {
  max-width: 1160px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 20px;
  background-color: #f6f8f9;

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    &__profile {
      &__img {
        margin-left: 40px;
      }
    }
    &__nav {
      &__ul {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    // &__profile {
    //   &__img {
    //     height: 30px;
    //     border-radius: 30px;
    //   }
    // }
  }
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navbar-img {
  height: 16px;
  width: 16px;
}
.header-navbar-a {
  color: black;
  font-size: 11px;
  font-family: helve-bold;
  width: 100px;
  margin-left: 30px;
}
#mobile-nav {
  display: none;
}
.intro {
  display: block !important;
  height: 100vh;
  position: absolute;
  background: white;
  width: 70%;
  left: 0;
  top: 0;
  z-index: 999999;
}

.int {
  display: none !important;
}
#open-menu {
  background: unset;
  border: unset;
}
#open-menu:active {
  outline: none;
}
.open-menu-div {
  visibility: hidden;
}

.home {
  display: flex;
  width: 100%;
  &__first-component {
    width: 60%;
    height: 600px;

    &__img {
      background-image: url(..//image/Hero.png);
      width: 100%; /* height: 100px; */
      background-size: cover;
      height: 100%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      &__box {
        max-width: 600px;
        // background-color: red;

        &__h {
          font-size: 24px;
          color: white;
          font-family: helve-bold;
        }
        &__line {
          width: 100%;
          background-color: white;
          height: 3px;
          border-radius: 12px;
          margin-top: 40px;
          margin-bottom: 40px;
        }
        &__h-second {
          color: white;
          font-size: 24px;
          font-family: helve-bold;
        }
        &__p {
          color: white;
          font-size: 16px;
          margin-top: 4px;
          margin-bottom: 30px;
          font-family: helve-regular;
        }
        &__btn {
          background-color: #fa6980;
          border: unset;
          width: 134px;
          height: 40px;
          border-radius: 6px;
          &__a {
            color: white;
            font-size: 11px;
          }
        }
      }
    }
  }
  &__second-component {
    width: 40%;
    background: #ffffff;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: flex;
    color: jus;
    justify-content: center;
    height: 100%;
    align-items: center;

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      flex-direction: column;
      &__travel {
        &__one {
          &__main-title {
            color: #fa6980;
            font-size: 16px;
            margin-bottom: 20px;
            font-family: helve-bold;
          }
          &__title {
            font-size: 16px;
            font-family: helve-bold;
          }
          &__p {
            color: #a6adb4;
            font-size: 16px;
            line-height: 1.3;
            margin-top: 10px;
            margin-bottom: 12px;
            font-family: helve-regular;
          }
        }
        &__date {
          display: flex;
          align-items: center;
          &__p {
            color: #a6adb4;
            margin-left: 10px;
            font-family: helve-regular;
          }
        }
      }

      &__p {
        color: black;
        font-size: 24px;
        font-family: helve-bold;
      }
      &__arrow-div {
        width: 70px;
        display: flex;
        justify-content: space-between;
        &__first {
          height: 10px;
          width: 6px;
        }
        &__second {
          height: 10px;
          width: 6px;
        }
      }
    }
  }
}
.grey-line {
  width: 100%;
  height: 4px;
  background-color: #e8ebec;
  border-radius: 12px;
  margin-top: 41px;
  margin-bottom: 41px;
}
.travel-second {
  margin-top: 40px;
}
.ddd {
  display: none;
}
.mobile-logo {
  display: none;
}
.trading-main {
  display: flex;
  justify-content: space-between;
}
.trading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  &__h1 {
    font-size: 24px;
    width: 100%;
    margin-bottom: 40px;
    font-family: helve-bold;
  }
  width: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 328px;

    &__img {
      max-width: 328px;
    }
    &__div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 180px;
      max-width: 280px;
      background-color: white;
      &__title {
        color: black;
        font-size: 16px;
        font-family: helve-bold;
      }
      &__p {
        color: #a6adb4;
        font-size: 13px;
        line-height: 1.4;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: helve-regular;
      }
      &__date {
        display: flex;
        align-items: center;
        &__p {
          margin-left: 10px;
          color: #a6adb4;
          font-size: 13px;
          font-family: helve-regular;
        }
      }
    }
  }
  &__happening-now {
    display: flex;
    &__first {
      &__div {
        width: 760px;
        background-image: url(../image/Image-1.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 431px;
        margin-right: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__p {
          color: white;
          font-size: 24px;
          margin-left: 40px;
          padding-top: 40px;
          font-family: helve-bold;
        }
        &__img {
        }
        &__copy {
          margin-left: 40px;
          padding-bottom: 40px;

          &__title {
            color: white;
            font-size: 24px;
            font-family: helve-bold;
          }
          &__p {
            color: white;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: helve-regular;
          }
          &__date {
            display: flex;
            align-items: center;
            &__p {
              color: #cbd0d3;
              font-size: 13px;
              margin-left: 10px;
              font-family: helve-regular;
            }
          }
        }
      }
      &__div-second {
        margin-top: 40px;
        background-image: url(../image/Image.png);
      }
    }
    &__second {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__div {
        &__img {
          width: 360px;
        }
        &__box {
          &__p {
            color: black;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: helve-bold;
          }
        }
      }
    }
  }
}
.heading-title-arrow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .home__second-component__box__arrow-div {
    margin-bottom: 40px;
  }
}

.footer {
  background: #a6adb4;
  &__box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__first {
      display: flex;
      justify-content: space-between;
      width: 382px;
      height: 85px;
      &__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__p {
          color: #cbd0d3;
          font-family: helve-bold;

          font-size: 13px;
        }
      }
    }
    &__media {
      width: 160px;
      display: flex;
      justify-content: space-between;
    }
  }
}
.footer-box__lst-components {
  display: flex;
  width: 540px;
  justify-content: inherit;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.footer {
  &__input-box {
    &__div {
      display: flex;
      position: absolute;
      display: flex;
      align-items: center;
      &__img {
        position: absolute;
        right: 15px;
      }
      &__input {
        width: 262px;
        height: 30px;
        border: 2px solid #878787 !important;
        background: #a6adb4;
        padding: 10px;

        border-radius: 12px;
      }
    }
  }
}
.extra-footer-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo__p {
  font-family: helve-bold;
}
.home__first-component__img__box__btn__a {
  font-family: helve-bold;
}
.world-news {
  display: flex;
  width: 100%;
  &__one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../image/LeftColumn.png);
    height: 500px !important;
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      max-width: 360px;
      text-align: center;
      height: 190px;
      &__h {
        color: white;
        font-size: 32px;
        font-family: helve-bold;
      }
      &__p {
        color: white;
        font-size: 16px;
        font-family: helve-bold;
      }
      &__line {
        background: #ff8a00;
        height: 3px;
        border-radius: 30px;
        width: 40px;
      }
      &__img {
        border: 3px solid white;
        border-radius: 30px;
      }
    }
  }
  &__two {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    &__div {
      height: 245px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__box {
      &__select {
        width: 360px;
        height: 40px;
        border-radius: 6px;
        border: 2px solid #ebeded;
      }
      &__p {
        font-size: 13px;
        font-family: helve-bold;
        margin-bottom: 10px;
      }
    }
    &__btn {
      background: #fa6980;
      width: 134px;
      height: 40px;
      border: none;
      border-radius: 6px;
      &__p {
        color: white;
        font-family: helve-bold;
        font-size: 11px;
      }
    }
  }
}
.description {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__div-first {
    width: 30%;
  }
  &__div {
    &__date {
      display: flex;
      align-content: center;
      &__p {
        color: #a6adb4;
        font-size: 13px;
        margin-left: 10px;
      }
    }
    &__lst {
      display: flex;
      align-content: center;
      justify-content: space-between;
      flex-direction: column;
    }
    &__h {
      font-size: 24px;
      font-family: helve-bold;
      margin-top: 20px;
    }
    &__p {
      color: #a6adb4;
      font-size: 14px;
      line-height: 1.6;
      font-family: helve-regular;
      width: 360px;
    }
  }
}
.blog {
  &__div {
    &__p {
      color: #a6adb4;
      font-size: 14px;
      line-height: 1.6;
      margin-top: 40px;
      max-width: 760px;
    }
  }

  &__img-box {
    width: 100%;
    &__img {
      width: 100%;
    }
  }
}
.description-txt-boxes {
  display: flex;
  justify-content: space-between;
  width: 65%;
  justify-content: space-between;
}
@media only screen and (max-width: 1440px) {
  .home__first-component__img {
    background-size: cover;
  }
}
@media only screen and (max-width: 992px) {
  .world-news {
    flex-direction: column;
    &__one {
      background-size: cover;
    }
    &__two {
      height: 400px;
    }
  }
  .description__div__p {
    max-width: 284px;
  }
  .description__div__h {
    width: 279px;
    margin-bottom: 40px;
  }
  .description {
    display: unset;
  }
  .description-txt-boxes {
    width: 100%;
  }
  .description__div-first {
    width: 100%;
  }
  .blog__div {
    display: flex;
  }
  .trading__happening-now__second__div__box {
    margin-bottom: 20px;
  }
  .extra-footer-div {
    flex-direction: column;
  }
  .footer__box {
    display: unset;
    margin-top: 55px;
  }
  .footer-box__lst-components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
  }
  .footer__box__first {
    width: 100%;
  }
  .container-size {
    width: 608px;
  }
  .trading__happening-now__secong__div__img {
    max-width: 280px;
  }
  .trading {
    max-width: 608px;
    &__box {
      max-width: 280px;
      &__img {
        max-width: 280px;
      }
      &__div {
        width: 204px;
      }
    }
  }
  .trading__box-mob-none {
    display: none;
  }
  .travel-second {
    margin-top: unset;
  }
  .travel-news-boxes {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .home__second-component__box__travel__one__p {
    width: 280px;
  }
  .home {
    flex-wrap: wrap;
    &__first-component {
      width: 100%;
    }
    &__second-component {
      width: 100%;
      height: 315px;

      &__box {
        width: 604px;
      }
    }
  }
  .trading__happening-now {
    display: unset;
  }
  .trading__happening-now__first__div {
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
  }
  .trading__happening-now__second {
    flex-direction: unset;
  }
  .trading__happening-now__second__div-mob-none {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .mobile-container-size {
    max-width: 100% !important;
  }
  .description__div__date {
    margin-top: 24px;
  }
  .description__div__lst {
    margin-top: 10px;
  }
  .description__div__p {
    max-width: 100%;
  }
  .description-txt-boxes {
    flex-direction: column;
  }
  .world-news__two__box__select {
    width: 325px;
    padding: 0;
  }

  .blog__div {
    display: unset;
  }
  .footer__box__media {
    margin-top: 40px;
  }
  .footer__box__first__div {
    width: 50%;
    text-align: center;
  }
  .footer__box__first {
    flex-wrap: wrap;
    background: #a6adb4;
    height: 170px;
    padding-top: 57px;
    position: absolute;
    bottom: 0;
  }
  .container-size {
    max-width: 350px;
  }
  .footer__box__first {
    justify-content: space-evenly;
  }
  .footer {
    display: none;
  }
  .footer__box__first__div__p-logo {
    display: none;
  }
  .trading__happening-now__first__div__copy__p {
    color: white;
    font-size: 13px;
  }

  .trading__happening-now__first__div__p {
    padding-top: 20px;
    font-size: 16px;
  }
  .trading__happening-now__first__div__copy {
    padding-bottom: 20px;
  }
  .trading__happening-now__secong__div__img {
    max-width: 100%;
  }
  .trading {
    max-width: 327px;
  }
  .trading__happening-now__first__div {
    height: 187px;
  }
  .trading__box__img {
    max-width: 327px;
  }
  .trading__box {
    max-width: 327px;
  }
  .trading__box__div {
    width: 327px;
  }

  .trading-main {
    display: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trading__happening-now__second {
    flex-direction: column;
  }
  .travel-second {
    margin-top: 41px;
  }
  .home__first-component__img__box__p {
    margin-top: 24px;
    margin-bottom: 44px;
    line-height: 1.3;
  }
  .home__first-component__img__box {
    padding: 24px;
  }
  .mobile-txt-none {
    display: none;
  }

  .home__second-component {
    width: 100%;
    height: 470px;
    padding: 20px;
  }
  .travel-news-boxes {
    flex-wrap: wrap;
  }
  .home__second-component__box__travel__one {
    width: 100%;
  }
  .home__second-component__box__travel__second {
    width: 100%;
  }
  .home__second-component__box {
    width: 100%;
  }
  .open-menu-div {
    visibility: visible;
    left: 16px;
    position: absolute;
    z-index: 9999;
  }
  // #open-menu {
  //   visibility: visible;
  //   left: 16px;
  //   position: absolute;
  // }
  .mobile-logo {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .header__logo__p {
    display: none;
  }
  .mobile-nav-extra-logo {
    margin-top: 36px;
    margin-left: 20px;
  }
  .header-navbar {
    margin-top: 36px;
    margin-bottom: 36px;
    width: 140px;
    margin-left: 20px;
  }
  .header {
    height: 50px;
    &__logo {
      // margin-left: 36px;
    }
  }
  .bm {
    height: 100vh !important;
    align-items: baseline !important;
    background-color: red !important;
    z-index: 99999;
  }

  .header__logo__div__img {
    height: 30px;
    border-radius: 30px;
  }
  ////////////navigation///////////
  #mobile-navigation-bar {
    width: 30vw;
    right: 0;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }

  .header__navigation__nav__ul {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 4;
    width: 300px;
    height: 100%;
    padding: 0.5rem 1rem;
    box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: ease 0.2s all;
  }

  body.menu-open #mobile-navigation-bar {
    display: block;
  }
  body.menu-open .header__navigation__nav {
    left: 0;
  }
  ///////////////
}
